/*======reset css======*/
body {
  font-size: 14px;
  font-family: "Microsoft Yahei", sans-serif;
  color: #333;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
  color: #333;
}

@font-face {
  /*自定义字体图标*/
  /*1.通过@font-face定义自己的字体*/
  /*2.申明自己的字体名称*/
  font-family: 'wjs';
  /*3.引入字体文件（约束某一段字符代码什么图案）*/
  src: url(../fonts/MiFie-Web-Font.svg) format('svg'),
  url(../fonts/MiFie-Web-Font.eot) format('embedded-opentype'),
  url(../fonts/MiFie-Web-Font.ttf) format('truetype'),
  url(../fonts/MiFie-Web-Font.woff) format('woff');
}

.wjs_icon {
  font-family: "wjs";
}

.wjs_icon_phone::before {
  content: "\e908";
}

.wjs_icon_tel::before {
  content: "\e909";
}

.wjs_icon_logo::before {
  content: "\e920";
}

.wjs_icon_name::before {
  content: "\e93e";
}

.wjs_icon_dollar::before {
  content: "\e903";
}

.wjs_icon_clock::before {
  content: "\e906";
}

.wjs_icon_video::before {
  content: "\e905";
}
.wjs_icon_news_01::before {
  content: "\e90e";
}

.wjs_icon_news_02::before {
  content: "\e90f";
}

.wjs_icon_news_03::before {
  content: "\e910";
}

.wjs_icon_news_04::before {
  content: "\e911";
}

.wjs_icon_partner01::before {
  content: "\e946";
}

.wjs_icon_partner02::before {
  content: "\e92f";
}

.wjs_icon_partner03::before {
  content: "\e92e";
}

.wjs_icon_partner04::before {
  content: "\e92a";
}

.wjs_icon_partner05::before {
  content: "\e929";
}

.wjs_icon_partner06::before {
  content: "\e931";
}

.wjs_icon_partner07::before {
  content: "\e92c";
}

.wjs_icon_partner08::before {
  content: "\e92b";
}

.wjs_icon_partner09::before {
  content: "\e92d";
}
/*======modal css======*/
.wjs_header {
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  color: #666;
}

.wjs_header > .container > .row > div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.wjs_header > .container > .row > div + div {
  border-left: 1px solid #ccc;
}

.wjs_app {
  display: block;
}

.wjs_app img {
  display: none;
}

.wjs_app:hover img {
  display: block;
  z-index: 100;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 40px;
  border: 1px solid #ccc;
  border-top: none;
}

.question {
  margin-right: 10px;
}

.wjs_header .btn-register {
  font-size: 12px;
  padding: 3px 12px;
  border: none;
  background: #e92322;;
  color: #fff;
}

.wjs_header .btn-login {
  font-size: 12px;
  color: #666;
}

/*导航栏*/
.wjs_nav {
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}

.wjs_nav .navbar-brand {
  line-height: 50px;
  height: 80px;
  color: #777;
}

.wjs_nav .navbar-brand .wjs_icon_logo {
  font-size: 50px;
  color: #e92322;
  vertical-align: middle;
}

.wjs_nav .navbar-brand .wjs_icon_name {
  font-size: 36px;
  color: #333;
  vertical-align: middle;
}

.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.wjs_nav .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
  color: #777;
  background-color: transparent;
  border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
  color: #555;
  border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.wjs_nav .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
}

.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
  background-color: #ddd;
}

.wjs_nav .navbar-toggle .icon-bar {
  background-color: #888;
}

.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
  border-color: #e7e7e7;
}

.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

/*轮播图板块*/
.wjs_banner .pc_imgBox {
  display: block;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wjs_banner .m_imgBox {
  display: block;
  width: 100%;
}

.wjs_banner .m_imgBox img {
  display: block;
  width: 100%;
}

/*info模块*/
.wjs_info {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.wjs_info .container {
  width: 900px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .wjs_info .container {
    width: 750px;
  }
}

.wjs_info .container > div > a {
  display: block;
  padding: 15px 0;
}

.wjs_info .container > div > a:hover {
  color: #e92322;
}

.wjs_info > .container > div > a .wjs_icon_dollar {
  font-size: 30px;
}

/*预约模块*/
.wjs_reserve {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}

.wjs_reserve .container {
  width: 900px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .wjs_reserve .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .wjs_reserve .container {
    width: 100%;
  }
}

.wjs_reserve .book {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}

.wjs_reserve .video:hover {
  color: #e92322;
}

.wjs_reserve .wjs_icon {
  font-size: 20px;
}

/*产品专区*/
.wjs_product {
  padding: 20px 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.wjs_news .nav-tabs-parent {
  width: 100%;
  overflow: hidden;
}

.wjs_product .nav-tabs {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin: 0;
}

.wjs_product .nav-tabs > li {
  float: left;
  margin-bottom: 0;
  margin-left: 15px;
}

.wjs_product .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 4px 4px 0 0;
}

.wjs_product .nav-tabs > li > a:hover {
  background: #f5f5f5;
}

.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #f5f5f5;
  border: none;
  border-bottom: 3px solid #e92322;
}

.wjs_product .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.wjs_product .nav-tabs.nav-justified > li {
  float: none;
}

.wjs_product .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}

.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }

  .wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}

.wjs_product .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}

.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {
  .wjs_product .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .wjs_product .nav-tabs.nav-justified > .active > a,
  .wjs_product .nav-tabs.nav-justified > .active > a:hover,
  .wjs_product .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}

.product-box {
  display: block;
  height: 150px;
  width: 100%;
  background: #fff;
  box-shadow: 3px 3px 5px #d8d8d8;
  color: #666;
  margin-top: 30px;
}

.product-box:hover {
  color: #666;
}

.product-box.active {
  background: #e92322;
  color: #fff;
  position: relative;
}

.product-box.active::before {
  font-family: wjs;
  content: '\e915';
  position: absolute;
  top: -7px;
  left: 0;
  font-size: 33px;
}

.product-box .left {
  overflow: hidden;
}

.product-box .left h3 {
  margin-top: 10px;
  font-size: 16px;
}

.product-box .left div {
  font-size: 12px;
}

.product-box .right {
  position: relative;
  border-left: 1px dashed #ccc;
  float: right;
  text-align: center;
  width: 80px;
  height: 150px;
}

.product-box .right::before,
.product-box .right::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  left: -6px;
  background: #f5f5f5;
}
.product-box .right::before {
  top: -6px;
  box-shadow: 0 -2px 2px #d8d8d8 inset;
}
.product-box .right::after {
  bottom: -6px;
  box-shadow: 0 2px 2px #d8d8d8 inset;
}
.product-box .right .tips {
  position: absolute;
  left: 0;
  top: 10px;
  width:  100%;
}
.product-box .right .tips span {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border: 1px solid #ccc;
  display: inline-block;
}
.product-box .right .tips .red {
  border-color: red;
  color: red;
}
.product-box .right .tips .green {
  border-color: green;
  color: green;
}
.product-box .right p:first-of-type {
  margin-top: 25px;
  color: #e92322;
}

.product-box.active .right p:first-of-type {
  color: #fff;
}

.product-box .right p:last-of-type {

}

.product-box .right p:first-of-type b {
  font-size: 48px;
}

.product-box .right p:first-of-type sub {
  font-size: 12px;
  bottom: 0;
}
/*新闻模块*/
.wjs_news {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_news .wjs_news_title {
  position: relative;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.wjs_news .wjs_news_title::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #ccc;
  right: -6px;
  bottom: -3px;
}
.wjs_news .wjs_news_line {
  position: absolute;
  top: 0;
  left: 45px;
  width: 1px;
  height: 100%;
  border: 1px dashed #ccc;
}
.wjs_news .nav-tabs {
  border-bottom: none;
}
.wjs_news .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs_news .nav-tabs > li > a {
  display: block;
  background: #ccc;
  height: 60px;
  width: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 30px;
  padding: 0;
  margin-bottom: 60px;
  text-align: center;
  border: none;
}
.wjs_news .wjs_news_content {
  list-style: none;
}
.wjs_news .wjs_news_content li {
  display: block;
  padding: 15px 0;
  color: #555;
}
/*小屏设备固定间距*/
@media(min-width: 768px) and (max-width: 992px) {
  .wjs_news .nav-tabs > li > a {
    margin: 30px 50px;
  }
}
@media (max-width: 768px) {
  .wjs_news .nav-tabs > li {
    width: 25%;
  }
  .wjs_news .nav-tabs > li > a {
    margin: 20px auto;
  }
}
.wjs_news .nav-tabs > li:last-of-type > a {
  margin-bottom: 0;
}
.wjs_news .nav-tabs > li > a:hover {
}
.wjs_news .nav-tabs > li > a > span {
  display: block;
  font-size: 30px;
}
.wjs_news .nav-tabs > li.active > a,
.wjs_news .nav-tabs > li.active > a:hover,
.wjs_news .nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: #e92322;
  border: none;
}
.wjs_news .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs_news .nav-tabs.nav-justified > li {
  float: none;
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs_news .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs_news .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs_news .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs_news .nav-tabs.nav-justified > .active > a,
.wjs_news .nav-tabs.nav-justified > .active > a:hover,
.wjs_news .nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs_news .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs_news .nav-tabs.nav-justified > .active > a,
  .wjs_news .nav-tabs.nav-justified > .active > a:hover,
  .wjs_news .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/*合作伙伴*/
.wjs_partner {
  padding: 50px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_partner ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.wjs_partner ul li {
  display: inline-block;
}
.wjs_partner ul li a {
  font-size: 70px;
  padding: 0 15px;
  display: block;
}